﻿@using LIS.Models
@model IEnumerable<VitrosData>

@{
    ViewBag.Title = "LIS";
}

<h2>LIS</h2>

<table class="table table-striped table-bordered" id="myTable">
    <thead>
        <tr>
            <th>Sample</th>
            <th>Test</th>
            <th>Analyzer</th>
            <th>Fluid</th>
            <th>DateTime</th>
            <th>Quadrant</th>
            <th>Cup</th>
            <th>Tray</th>
            <th>StatFlag</th>
            <th>ControlFlag</th>
            <th>Mode</th>
            <th>Dilution Factor</th>
            <th>Result</th>
            <th>Unit</th>
            <th>Error Flags</th>
            <th>Error</th>
            <th>Warning Flags</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.SampleID</td>
            <td>@item.Test</td>
            <td>@item.Analyzer</td>
            <td>@item.Fluid</td>
            <td>@item.DateTime</td>
            <td>@item.Quadrant</td>
            <td>@item.Cup</td>
            <td>@item.TrayName</td>
            <td>@item.StatFlag</td>
            <td>@item.ControlFlag</td>
            <td>@item.Mode</td>
            <td>@item.DilutionFactor</td>
            <td>@item.Result</td>
            <td>@item.Unit</td>
            <td>@item.ErrorFlags</td>
            <td>@item.Error</td>
            <td>@item.WarningFlags</td>
        </tr>

        }
    </tbody>
</table>
@section Scripts
{
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                 pageLength: 5
            });
        });
    </script>
}
