﻿@using LIS.Models
@model IEnumerable<Sample>

@{
    ViewBag.Title = "LIS2";
}

<h2>LIS2</h2>



<table class="table table-striped table-bordered" id="myTable">
    <thead>
        <tr>
            <th>Sample</th>
            <th>Analyzer</th>
            <th>Fluid</th>
            <th>DateTime</th>
            <th>Quadrant</th>
            <th>Cup</th>
            <th>Tray</th>
            <th>Stat Flag</th>
            <th>Control Flag</th>
            <th>Mode</th>
            <th>Dilution Factor</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SampleID</td>
                <td>@item.Analyzer</td>
                <td>@item.Fluid</td>
                <td>@item.DateTime</td>
                <td>@item.Quadrant</td>
                <td>@item.Cup</td>
                <td>@item.TrayName</td>
                <td>@item.StatFlag</td>
                <td>@item.Mode</td>
                <td>@item.StatFlag</td>
                <td>@item.DilutionFactor</td>
                <td>
                    <a href="#@item.SampleID.Trim()" class="btn btn-info" data-toggle="collapse">Show Results</a>
                    <div id="@item.SampleID.Trim()" class="collapse">
                        <br />
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Test</th>
                                    <th>Result</th>
                                    <th>Unit</th>
                                    <th>Error Flags</th>
                                    <th>Error Message</th>
                                    <th>Warning Flags</th>
                                    <th>Warning Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var result in item.Results)
                                {

                                    string classToApply = string.Empty;
                                    if (result.ErrorFlag != "0" && result.WarningFlag == "0")
                                    {
                                        classToApply = "dangerRow";
                                    }
                                    else if (result.ErrorFlag != "0" && result.WarningFlag == "0")
                                    {
                                        classToApply = "warningRow";
                                    }
                                    else if (result.ErrorFlag != "0" && result.WarningFlag != "0")
                                    {
                                        classToApply = "warningRow";
                                    }
                                    else if (result.ErrorFlag == "0" && result.WarningFlag == "0")
                                    {
                                        classToApply = "";
                                    }

                                    @*<tr class="@(result.ErrorFlags.Contains("0") == true ? "" : "danger") @(result.WarningFlags.Contains("0") == true ? "" : "warning")">*@
                                    @*<tr class="@(warningOrError == "W" ? "warning":"danger")">*@
                                    <tr class="@classToApply">
                                        <td>@result.Test</td>
                                        <td style="text-align:right">@result.Value</td>
                                        <td>@result.Unit</td>
                                        <td>@result.ErrorFlag</td>
                                        <td>@result.Error</td>
                                        <td>@result.WarningFlag</td>
                                        <td>@result.Warning</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                pageLength: 5
            });
        });


    </script>
    <style>
        .dangerRow {
            color: #D8000C;
            background-color: #FFBABA !important;
        }

        .warningRow {
            color: #9F6000;
            background-color: #f5db57 !important;
        }
    </style>
}


